table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  #rateTable {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    box-shadow: 1 3 1 12 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    opacity: 0.9;
    flex-wrap: wrap;
}

#specificHero #rateTable {
  margin-top: 3em;
  margin-bottom: 3em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  #attributeTable {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    box-shadow: 1 3 1 12 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    opacity: 0.9;
    flex-wrap: wrap;
}

#specificHero #attributeTable {
  margin-top: 3em;
  margin-bottom: 3em;
}