<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompareAttribute</title>
</head>
<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
form {
  width: 300px;
  /* margin: 0 auto; */
  /* text-align: center; */
  /* padding-top: 50px; */
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#lvl {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#demoJson {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    box-shadow: 1 3 1 12 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    opacity: 0.9;
    flex-wrap: wrap;
}
body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/874/768/55/dota-dota-2-video-games-the-international-ti10-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#demoJson table {
    margin-top: 3em;
    margin-bottom: 3em;
}
</style>
<body id="body">
    <div class="container">
    <a href="/"><button>Home</button></a>
    <button type="submit" onclick="AllData()">Show All json</button>
    <button type="submit" onclick="compareNameData()">Show Hero json</button>
    <form>
        <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
        <input type="number" id="lvl" value="1" />
        <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
    </form>    
    <button type="submit" onclick="calStatByLevel()">Calculate Stat by level</button>
    <div id="container"></div>
    <select id="select"></select>
    <p>------------------</p>
    <select id="select_hero"></select>
    <div id='demoJson'></div>
    </div>
</body>
<script>
    async function Data(){
        let resp= await fetch(`http://localhost:1337/characters`,{
                method:'GET',
            }).then(res => res.json()).then(data => select(data));

        async function select(data){
            var dropDown =  document.getElementById("select");
            var dropDown_s =  document.getElementById("select_hero");
            let heroName =  [];
            for(var i = 0;i<data.length;i++){ 
                heroName.push(data[i].displayName);
            };
            for(var i = 0;i<heroName.length;i++){
                let opt = document.createElement("option");
                opt.text = heroName[i];
                opt.value = heroName[i];
                opt.className = heroName[i];
                await dropDown.appendChild(opt);
            }

            for(var i = 0;i<heroName.length;i++){
                let opt = document.createElement("option");
                opt.text = heroName[i];
                opt.value = heroName[i];
                opt.className = heroName[i];
                await dropDown_s.appendChild(opt);
            }
            var container = document.getElementById('container');
            container.appendChild(dropDown);
            container.appendChild(dropDown_s);
        };

    };

    async function AllData(){
        let resp= await fetch(`http://localhost:1337/characters`,{
            method:'GET',
            
        }).then(res => res.json()).then(data => showAllData(data));

        async function showAllData(data){
            let mainContainer = document.getElementById("demoJson");
            mainContainer.innerHTML = ""
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = 'Name: ' + data[i].displayName;
                mainContainer.appendChild(div);
            }
        }
    }

    async function compareNameData(){
        let name_1 = document.getElementById('select').value
        let name_2 = document.getElementById('select_hero').value
        
        let respHeroName = await fetch(`http://localhost:1337/characters/hero/${name_1}`,{
            method:'GET',
        })
        let respHeroName_2 = await fetch(`http://localhost:1337/characters/hero/${name_2}`,{
            method:'GET',
        })
        // .then(res => res.json()).then(data => showSpecificData(data));

        let val = await respHeroName.json()
        let val_2 = await respHeroName_2.json()
        let key = Object.keys(val[0]);

        // obj to float
        let value = Object.values(val[0]);
        let value_2 = Object.values(val_2[0]);
        let rate_diff = [];
        let stat_base_1 = [];
        let stat_gain_1 = [];
        let stat_base_2 = [];
        let stat_gain_2 = [];
        for(var i=22; i<41; i++){
            let percent = (value[i]);
            let percent_2 = (value_2[i]);
            let diff = percent - percent_2;
            rate_diff.push(diff)
            if(i >= 32 && i <= 37){
                if(i%2 != 0){
                    stat_gain_1.push(value[i]);
                    stat_gain_2.push(value_2[i]);
                }else{
                    stat_base_1.push(value[i]);
                    stat_base_2.push(value_2[i]);
                };
            };
        };

        createTableForm(key);
        showSpecificData(val, true);
        showSpecificData(val_2, false);
        // calStatByLevel()

        // function 

        function reset(ele){
            element = document.getElementById(ele)
            element.innerHTML = "";
        }

        function createTableForm(key){
            reset("demoJson");
            let table = document.createElement("table");
            table.setAttribute("id","table")
            let tr_1 = document.createElement("tr");
            tr_1.setAttribute("id","tr_1");
            table.appendChild(tr_1);
            let th_2 = document.createElement("th");
            th_2.innerHTML = " "
            tr_1.appendChild(th_2)
            function createTable(i,name){
                let tr_2 = document.createElement("tr");
                tr_2.setAttribute("id",`tr_2_${i}`)
                let pickKey = document.createElement("td")
                pickKey.innerHTML = `${name}`
                tr_2.appendChild(pickKey);
                table.appendChild(tr_2)
            }
            for(var i=22; i<41;i++){
                createTable(i,key[i]);
            }
            mainContainer = document.getElementById("demoJson")
            mainContainer.appendChild(table)
        }

        // async function calStatByLevel(){
        //         let lvl = document.getElementById('lvl').value;
        //         let show_1 = document.createElement('p');
        //         let show_2 = document.createElement('p');
        //         let show_3 = document.createElement('p');
        //         mainContainer.appendChild(show_1);
        //         mainContainer.appendChild(show_3);
        //         mainContainer.appendChild(show_2);
        //         if(lvl > 0 && lvl <= 30){
        //             if(lvl == 1){
        //                 for(let i=0;i<stat_base_1.length;i++){
        //                     let cal_diff = stat_base_1[i] - stat_base_2[i];
        //                     cal_diff = `${(Math.round((cal_diff + Number.EPSILON) * 100) / 100).toString()}`
        //                     show_1.innerHTML += stat_base_1[i] +  ' ';
        //                     show_2.innerHTML += stat_base_2[i] + ' ';
        //                     show_3.innerHTML += cal_diff + ' ';
        //                 }
        //             }else{
        //                 for(let i=0;i<stat_base_1.length;i++){
        //                     let cal_1 = stat_base_1[i] + (stat_gain_1[i] * lvl);
        //                     let cal_2 = stat_base_2[i] + (stat_gain_2[i] * lvl);
        //                     let cal_diff = cal_1 - cal_2;
        //                     cal_1 = `${(Math.round((cal_1 + Number.EPSILON) * 100) / 100).toString()}`
        //                     cal_2 = `${(Math.round((cal_2 + Number.EPSILON) * 100) / 100).toString()}`
        //                     cal_diff = `${(Math.round((cal_diff + Number.EPSILON) * 100) / 100).toString()}`
        //                     show_1.innerHTML += cal_1 + ' ';
        //                     show_2.innerHTML += cal_2 + ' ';
        //                     show_3.innerHTML += cal_diff + ' ';

        //                 }
        //             }
        //         }else{
        //             console.log("Plase Try Again")
        //         }
        //     }

        async function showSpecificData(data, ex){
            
            let tr_1 = document.getElementById("tr_1");
            let th_1 = document.createElement("th");
            th_1.innerHTML = data[0].displayName
            tr_1.appendChild(th_1)
            if (ex){
                let th_ex = document.createElement("th");
                th_ex.innerHTML = "Stat diff"
                tr_1.appendChild(th_ex)
            }

            async function createTable(i,name){
                let tr_2 = document.getElementById(`tr_2_${i}`);
                let pickVal = document.createElement("td")
                pickVal.innerHTML = data[0][name]
                tr_2.appendChild(pickVal);
                if (ex){
                    let td_ex_diff = document.createElement("td");
                    td_ex_diff.setAttribute("id",`ex_${i}`)
                    let rate = `${Math.round((rate_diff[i-22] + Number.EPSILON) * 100) / 100}`
                    if (rate_diff[i-22] > 0){
                        td_ex_diff.innerHTML = rate.fontcolor("green")
                    } else if (rate_diff[i-22] < 0){
                        td_ex_diff.innerHTML = rate.fontcolor("red")
                    } else {
                        td_ex_diff.innerHTML = rate
                    }
                    if (isNaN(rate)){
                        td_ex_diff.innerHTML = ""
                    }
                    tr_2.appendChild(td_ex_diff)
                }

            }
            for(var i=22; i<41;i++){
                createTable(i,key[i]);
            }
        }
    }

    async function calStatByLevel(){
        let name_1 = document.getElementById('select').value
        let name_2 = document.getElementById('select_hero').value
        
        let respHeroName = await fetch(`http://localhost:1337/characters/hero/${name_1}`,{
            method:'GET',
        })
        let respHeroName_2 = await fetch(`http://localhost:1337/characters/hero/${name_2}`,{
            method:'GET',
        })

        let val = await respHeroName.json()
        let val_2 = await respHeroName_2.json()
        let key = Object.keys(val[0]);
        let mainContainer = document.getElementById("demoJson")
        let lvl = document.getElementById('lvl').value;
        let value = Object.values(val[0]);
        let value_2 = Object.values(val_2[0]);
        let stat_base_1 = [];
        let stat_gain_1 = [];
        let stat_base_2 = [];
        let stat_gain_2 = [];
        let table_cal = document.getElementById('table_cal_stat')
        for(var i=22; i<41; i++){
            if(i >= 32 && i <= 37){
                if(i%2 != 0){
                    stat_gain_1.push(value[i]);
                    stat_gain_2.push(value_2[i]);
                }else{
                    stat_base_1.push(value[i]);
                    stat_base_2.push(value_2[i]);
                };
            };
        };
        createTableStatCal()
        if(lvl > 0 && lvl <= 30){
            if(lvl == 1){
                for(let i=0;i<stat_base_1.length;i++){
                    let header = document.getElementById("tr_2_1");
                    let tr_data = document.getElementById(`tr_data_${(i+1)*2}`)
                    let cal_diff = stat_base_1[i] - stat_base_2[i];
                    let td_head_1 = document.createElement('td');
                    let td_head_2 = document.createElement('td');
                    let td_head_3 = document.createElement('td');
                    let td_data_1 = document.createElement('td');
                    let td_data_2 = document.createElement('td');
                    let td_data_3 = document.createElement('td');
                    if(i == 0){
                        td_head_1.innerHTML = val[i].displayName;
                        td_head_2.innerHTML = 'Stat diff';
                        td_head_3.innerHTML = val_2[i].displayName;
                        header.appendChild(td_head_1)
                        header.appendChild(td_head_2)
                        header.appendChild(td_head_3)
                    }
                    cal_diff = `${(Math.round((cal_diff + Number.EPSILON) * 100) / 100).toString()}`
                    td_data_1.innerHTML += stat_base_1[i] ;
                    td_data_3.innerHTML += stat_base_2[i];
                    td_data_2.innerHTML += cal_diff;
                    tr_data.appendChild(td_data_1)
                    tr_data.appendChild(td_data_2)
                    tr_data.appendChild(td_data_3)
                }
            }else{
                for(let i=0;i<stat_base_1.length;i++){
                    let cal_1 = stat_base_1[i] + (stat_gain_1[i] * lvl);
                    let cal_2 = stat_base_2[i] + (stat_gain_2[i] * lvl);
                    let cal_diff = cal_1 - cal_2;
                    let header = document.getElementById("tr_2_1");
                    let tr_data = document.getElementById(`tr_data_${(i+1)*2}`)
                    let td_head_1 = document.createElement('td');
                    let td_head_2 = document.createElement('td');
                    let td_head_3 = document.createElement('td');
                    let td_data_1 = document.createElement('td');
                    let td_data_2 = document.createElement('td');
                    let td_data_3 = document.createElement('td');
                    if(i == 0){
                        td_head_1.innerHTML = val[i].displayName;
                        td_head_2.innerHTML = 'Stat diff';
                        td_head_3.innerHTML = val_2[i].displayName;
                        header.appendChild(td_head_1)
                        header.appendChild(td_head_2)
                        header.appendChild(td_head_3)
                    }
                    cal_1 = `${(Math.round((cal_1 + Number.EPSILON) * 100) / 100).toString()}`
                    cal_2 = `${(Math.round((cal_2 + Number.EPSILON) * 100) / 100).toString()}`
                    cal_diff = `${(Math.round((cal_diff + Number.EPSILON) * 100) / 100).toString()}`
                    td_data_1.innerHTML += cal_1 ;
                    td_data_2.innerHTML += cal_diff;
                    td_data_3.innerHTML += cal_2;
                    tr_data.appendChild(td_data_1)
                    tr_data.appendChild(td_data_2)
                    tr_data.appendChild(td_data_3)

                }
            }
        }else{
            alert("Plase Try Again")
        }
        async function createTableStatCal(){
            mainContainer.innerHTML = "";
            let table = document.createElement("table");
            table.setAttribute('id', 'table_cal_stat')
            let head_tr = document.createElement("tr");
            head_tr.setAttribute("id",`tr_2_1`);
            let space = document.createElement("th");
            space.innerHTML = "";
            head_tr.appendChild(space)
            table.appendChild(head_tr);
            mainContainer.appendChild(table)
            function createTable(i, name){
                let tr = document.createElement("tr");
                tr.setAttribute("id",`tr_data_${i-30}`);
                let pickKey = document.createElement("td");
                pickKey.innerHTML = `${name}`;
                tr.appendChild(pickKey);
                table.appendChild(tr);
            }
            for(var i=32; i<=37;i+=2){
                createTable(i, key[i].replace('Base',''));
            }
        }
    }
    function increaseValue() {
        var value = parseInt(document.getElementById('lvl').value, 10);
        value = isNaN(value) ? 0 : value;
        if(value < 30){
            value++;
        }else{
            value = 30;
        }
        document.getElementById('lvl').value = value;
        }

    function decreaseValue() {
        var value = parseInt(document.getElementById('lvl').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('lvl').value = value;
        }
    Data()
</script>
</html>