<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="compare_rate"><button>CompareRate</button></a>
    <a href="/compare_attribute"><button>CompareAttribute</button></a>
    <a href="/home"><button>Home</button></a>
  </body>
</html>
